@tailwind base;
@tailwind components;
@tailwind utilities;

html:after{
    content:"";
    position:fixed; /* stretch a fixed position to the whole screen */
    top:0;
    height:100vh; /* fix for mobile browser address bar appearing disappearing */
    left:0;
    right:0;
    z-index:-1; /* needed to keep in the background */
    background: linear-gradient(to left top, #fca5a5 0%, 10%, #e5e7eb 50%, 80%, #c4b5fd 90%) center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-attachment: scroll;
    -moz-background-attachment: scroll;
    -o-background-attachment: scroll;
    background-attachment: scroll;
}